<ion-row *ngIf="loading" class="loading">
    <ion-col text-center>
        <img src="../../../assets/marvel.gif">
    </ion-col>
</ion-row>

<ion-card *ngFor="let item of results" >
    <ion-card-header>
        <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}">
        <ion-card-subtitle>{{item.startYear}} - {{item.endYear}}</ion-card-subtitle>
        <ion-card-title>{{item.title}}{{item.name}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
  </ion-card>
